@import "/styles/normalize.css";
@import "/styles/nav.css";
@import "/styles/blog-home-page/header.css";
@import "/styles/blog-home-page/main.css";
@import "/styles/footer.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  color: #181818;
  /* display: flex; */
}

img {
  max-width: 100%;
}

header {
  margin-bottom: 10px;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

/* temporary line-mark */
.grid-container > * {
  /* border: 2px solid #f08c00;
  background-color: #181818;
  border-radius: 5px; */
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -------------- Grid-Area -------------- */

.navbar {
  grid-area: nav;
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
}

.main-footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "nav     nav"
      "header  header"
      "content content"
      "footer    footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "nav      nav      nav"
      "header   header   header"
      "content  content  content"
      "footer   footer   footer";
  }
  nav ul {
    flex-direction: row;
  }
}
